body {
    color: aliceblue;

    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    background-size: contain;
}

.hidden {
    display: none !important;
}

.center {
    position: fixed;
    left: 50vw;
    top: 50vh;

    align-content: center;
}

.bottom-center {
    position: fixed;
    left: 50vw;
    bottom: 50vh;
}

.bottom-right {
    position: relative;
    right: 10vw;
    bottom: 10vw;
}